
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - cache.kubevirt.io
  resources:
  - hyperconvergeds
  verbs:
  - create
  - delete
- apiGroups:
  - ""
  resources:
  - serviceaccounts/token
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - perses.dev
  resources:
  - persesdashboards
  - persesdatasources
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - perses.dev
  resources:
  - perses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  resourceNames:
  - persesdashboards.perses.dev
  - persesdatasources.perses.dev
  verbs:
  - get
- apiGroups:
  - cache.kubevirt.io
  resources:
  - hyperconvergeds/finalizers
  verbs:
  - update
- apiGroups:
  - cache.kubevirt.io
  resources:
  - hyperconvergeds/status
  verbs:
  - get
  - patch
  - update
