name: Build and Push Builder Image

on:
  push:
    branches:
      - main
    #      - release-1*
    paths:
      - "hack/builder/**"
      - "go.mod"
  workflow_dispatch:
jobs:
  build_push_builder:
    if: (github.repository == 'nunnatsa/hyperconverged-cluster-operator')
    name: Build and Push Builder Image
    runs-on: ubuntu-latest
    env:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
      REGISTRY_NAMESPACE: kubevirt
      IMAGE_NAME: hco-builder
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: set temporary image tag
        # This workflow always pushes unstable tags, both from main and release branches.
        run: |
          echo "IMAGE_TAG=$(date -u +%Y%m%d-%H%M%S)" >> $GITHUB_ENV
      #      - name: Login to Quay.io
      #        run: |
      #          make quay-login
      - name: Build Builder Image
        env:
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: make create-builder-image
#      - name: Push Builder Image
#        env:
#          IMAGE_TAG: ${{ env.IMAGE_TAG }}
#        run: |
#          . "hack/cri-bin.sh"
#          $CRI_BIN push $CRI_INSECURE quay.io/${REGISTRY_NAMESPACE}/${IMAGE_NAME}:${IMAGE_TAG}
#          $CRI_BIN push $CRI_INSECURE quay.io/${REGISTRY_NAMESPACE}/${IMAGE_NAME}:latest